body {
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  display: flex;
  font-family: 'Red Hat Display', sans-serif;
  justify-content: center;
  text-align: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  max-width: 24rem;
  overflow: hidden;
}

/* Card Body Section */
.card-body {
  padding: 1.75rem 2.75rem 1.25rem;
}

.heading {
  color: hsl(223, 47%, 23%);
  font-size: 1.65rem;
  font-weight: 900;
  padding: 0.25rem 0 0.60rem;
}

.description {
  color: hsl(224, 23%, 55%);
  font-size: 0.92rem;
}

/* Card Plan Section */
.plan-section {
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-around;
  margin: 1.25rem 0 1.50rem;
  padding: 1.21rem;
}

.plan-description {
  flex-grow: 1;
  padding: 0 1.21rem;
  text-align: start;
}
.plan-name {
  color: hsl(223, 47%, 23%);
  font-size: 0.95rem;
  font-weight: 700;
}

.plan-price {
  color: hsl(224, 23%, 55%);
  font-size: 0.9rem;
}

.change-plan {
  color: hsl(245, 75%, 52%);
  font-size: 0.75rem;
  font-weight: 700;
}

.change-plan:hover {
  text-decoration: none;
  filter: brightness(115%);
}

/* Card Buttions Section */
.card-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proceed-btn {
  background-color: hsl(245, 75%, 52%);
  border: none;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.75rem;
  margin: 0 0 0.5rem;
  width: 100%;
}

.proceed-btn:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 15%) 0 0);
}

.cancel-btn {
  background-color: transparent;
  border: none;
  color: hsl(224, 23%, 55%);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.75rem;
  margin: 0.5rem 0 0;
  width: 100%;
}

.cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}


/* Frontend Mentor Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}