body {
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}

body,
.plan-section,
.card-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-pattern-desktop,
.bg-pattern-mobile {
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.bg-pattern-mobile {
  display: none;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  max-width: 24rem;
  overflow: hidden;
}

/* Card Body Section */

.card-body {
  padding: 1.75rem 2.75rem 1.25rem;
}

.card-heading {
  font-size: 1.65rem;
  font-weight: 900;
  padding: 0.25rem 0 0.60rem;
}

.card-heading,
.plan-name,
.cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}

.card-description {
  margin: auto;
  max-width: 28ch;
}

.card-description,
.plan-price {
  color: hsl(224, 23%, 55%);
  font-size: 0.92rem;
}

/* Card Plan Section */

.plan-section {
  background-color: hsl(225, 100%, 98%);
  border-radius: 0.75rem;
  flex-direction: row;
  justify-content: space-around;
  margin: 1.25rem 0 1.50rem;
  padding: 1.21rem;
}

.plan-description {
  flex-grow: 1;
  padding: 0 1.21rem;
  text-align: start;
}

.plan-name {
  font-size: 0.95rem;
  font-weight: 700;
}

.change-plan {
  color: hsl(245, 75%, 52%);
  font-size: 0.75rem;
  font-weight: 700;
}

.change-plan:hover {
  text-decoration: none;
  filter: brightness(115%);
}

/* Card Buttions Section */

.proceed-btn {
  background-color: hsl(245, 75%, 52%);
  border-radius: 0.5rem;
  box-shadow: -0.25rem 0.45rem 2.5rem hsl(224, 23%, 55%);
  color: hsl(0, 0%, 100%);
  font-size: 0.92rem;
  margin: 0 0 0.5rem;
  width: 100%;
}

.proceed-btn,
.cancel-btn {
  border: none;
  font-weight: 700;
  padding: 0.75rem;
}

.proceed-btn:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 15%) 0 0);
}

.cancel-btn {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  font-size: 0.9rem;
  margin: 0.5rem 0 0;
}

/* Frontend Mentor Attribution */

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive Styles */

@media (max-width: 375px) {
  .bg-pattern-desktop {
    display: none;
  }

  .bg-pattern-mobile {
    display: block;
  }

  .card {
    max-width: 21rem;
  }

  /* Card Body Section */

  .card-body {
    padding: 1.50rem 1.60rem 1rem;
  }

  .card-description {
    max-width: 25ch;
  }
}